@model List<CategoryViewDto>

@functions{

    Microsoft.AspNetCore.Html.IHtmlContent RenderMenu(List<CategoryViewDto> list)
    {
        System.Text.StringBuilder sb = new System.Text.StringBuilder();
        sb.Append("<ul>");
        foreach (var menu in list)
        {
            sb.Append("<li>");
            sb.Append($"<a name='{menu.Id}' href='/product/index/{menu.Id}'>{menu.Name}</a>");
            if (menu.SubCategories.Any())
            {
                sb.Append(RenderMenu(menu.SubCategories.ToList()).ToString());
            }
            sb.Append("</li>");
        }
        sb.Append("</ul>");
        return Html.Raw(sb.ToString());
    }

}





<div class="col-lg-3">
    <h1 class="h2 pb-4">Kategoriler</h1>
    @RenderMenu(Model.Where(x => x.ParentCategory == null).ToList())
    @*<h1 class="h2 pb-4">Categories</h1>
        <ul class="list-unstyled templatemo-accordion">
            <li class="pb-3">
                <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                    Gender
                    <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                </a>
                <ul class="collapse show list-unstyled pl-3">
                    <li><a class="text-decoration-none" href="#">Men</a></li>
                    <li><a class="text-decoration-none" href="#">Women</a></li>
                </ul>
            </li>
            <li class="pb-3">
                <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                    Sale
                    <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                </a>
                <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                    <li><a class="text-decoration-none" href="#">Sport</a></li>
                    <li><a class="text-decoration-none" href="#">Luxury</a></li>
                </ul>
            </li>
            <li class="pb-3">
                <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                    Product
                    <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                </a>
                <ul id="collapseThree" class="collapse list-unstyled pl-3">
                    <li><a class="text-decoration-none" href="#">Bag</a></li>
                    <li><a class="text-decoration-none" href="#">Sweather</a></li>
                    <li><a class="text-decoration-none" href="#">Sunglass</a></li>
                </ul>
            </li>
        </ul>*@
</div>